*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}
.hidden {
  display: none;
}

:root {
  --clr-primary-400: hsl(0, 36%, 70%);
  --clra-primary-400: hsla(0, 36%, 70%, 0.5);
  --clr-primary-700: hsl(0, 93%, 68%);

  --clr-neutral-700: hsl(0, 6%, 24%);
  --gradient-100: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-400: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  --ff-default: "Josefin Sans", sans-serif;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 600;
}

body {
  font-family: var(--ff-default);
  font-weight: var(--fw-normal);
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}
.logo {
  margin: 2rem;
  width: 100px;
}
.hero-img {
  margin-inline: auto;
}
.hero-content {
  text-align: center;
  margin: 3rem 1.5rem;
}
.hero-title {
  font-size: 2.5rem;
  font-weight: var(--fw-light);
  letter-spacing: 10px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--clr-primary-400);
  margin-bottom: 1rem;
}
.hero-title span {
  color: var(--clr-neutral-700);
  font-weight: var(--fw-bold);
}
.hero-description {
  color: var(--clr-primary-400);
  font-size: 0.925rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.input-wrapper {
  position: relative;
  width: 100%;
}
input {
  padding: 1rem;
  padding-left: 1.5rem;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid var(--clra-primary-400);
  overflow: hidden;
}
input::placeholder {
  color: var(--clra-primary-400);
}
input:focus {
  outline: none;
  color: var(--clra-primary-400);
}
.submit-btn {
  background: var(--gradient-400);
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  position: absolute;
  right: 0;
  cursor: pointer;
  overflow: hidden;
}
.submit-btn:hover,
.submit-btn:active {
  background: linear-gradient(135deg, hsl(0, 80%, 96%), hsl(0, 74%, 84%));
}
.icon-error {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.error-message {
  color: var(--clr-primary-700);
  font-size: 0.925rem;
  margin: 1rem 1rem;
}

/* desktop view */
@media (min-width: 500px) {
  body {
    background: url(images/bg-pattern-desktop.svg);
    background-position: center;
    background-size: cover;
  }
  .container {
    grid-template-columns: 3fr 2fr;
  }
  .hero-img-desktop {
    background-image: url(images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
  }
  .left {
    max-width: 500px;
    margin-inline: 15rem;
  }
  .logo {
    margin-top: 4rem;
    width: 35%;
  }
  .hero-content {
    text-align: left;
  }
  .hero-title {
    margin-top: 10rem;
    font-size: 4rem;
    line-height: 1.1;
    letter-spacing: 20px;
    margin-bottom: 1.5rem;
  }
  .hero-description {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    line-height: 1.7;
    letter-spacing: 0.5px;
  }
  input {
    padding: 1.25rem;
    padding-left: 2rem;
  }
  .submit-btn {
    right: -30px;
    padding: 1.25rem 3rem;
  }
  .hero-img {
    display: none;
  }
}
